<!DOCTYPE HTML><html>
<head>
  <title>Smart Faming</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/IOT/static/style-sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    html {font-family: Arial; display: inline-block; text-align: center;}
    h2 {font-size: 3.0rem;}
    p {font-size: 3.0rem;}
  
    .switch {position: relative; display: inline-block; width: 120px; height: 68px} 
    .switch input {display: none}
    .slider {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; border-radius: 6px}
    .slider:before {position: absolute; content: ""; height: 52px; width: 52px; left: 8px; bottom: 8px; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 3px}
    input:checked+.slider {background-color: #b30000}
    input:checked+.slider:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)}
  </style>
</head>
<body>
  <form>
    <fieldset>
      <legend style="color: #b30000; font-size: larger; "> <b>Farm 1: Control Manager</b></legend>
      <table style="text-align: right ;">
        <tr>  
          <th style="color: white;">-------</th>
            <th style="text-align: center;">Thiết bị: 1</th>  
            <th></th>
            <th style="text-align: center;">Thiết bị: 2</th>  
            <th></th>
            <th style="text-align: center;">Thiết bị: 3</th> 
            <th></th> 
        </tr>
        <tr> 
            <th style="color: white;">-------</th>
            <th ><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="1" " + outputState(4) + "><span class="slider"></span></label> </th>
            <th style="color: white;">-----------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="2" " + outputState(5) + "><span class="slider"></span></label></th>
            <th style="color: white;">------------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="3 " + outputState(2) + "><span class="slider"></span></label> </th>
        </tr>
         <br>
         <tr>
           <br>
         </tr>
         <tr>
          <th style="color: white;">-------</th>
          <th style="text-align: center;"> Brightness:</th>  
          <th style="color: white;">s</th>
          <th><input type="range" onchange="updateSliderPWM(this)" id="pwmSlider" min="0" max="1023" value="%SLIDERVALUE%" step="1"></th>
          
          <th id="textSliderValue" style="text-align: right;">%SLIDERVALUE%</th>
         </tr>

      </table>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <legend style="color: #b30000; font-size: larger; "> <b>Farm 2: Control Manager</b></legend>
      <table style="text-align: right ;">
        <tr>  
          <th style="color: white;">-------</th>
            <th style="text-align: center;">Device : 1</th>  
            <th></th>
            <th style="text-align: center;">Device : 2</th>  
            <th></th>
            <th style="text-align: center;">Device : 3</th> 
            <th></th> 
        </tr>
        <tr> 
            <th style="color: white;">-------</th>
            <th ><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="4" " + outputState(4) + "><span class="slider"></span></label> </th>
            <th style="color: white;">-----------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="5" " + outputState(5) + "><span class="slider"></span></label></th>
            <th style="color: white;">------------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="6 " + outputState(2) + "><span class="slider"></span></label> </th>
        </tr>
         <br>
         <tr>
           <br>
         </tr>
         <tr>
          <th style="color: white;">-------</th>
          <th style="text-align: center;"> Brightness:</th>  
          <th style="color: white;">s</th>
          <th><input type="range" onchange="updateSliderPWM2(this)" id="pwmSlider2" min="0" max="1023" value="%SLIDERVALUE%" step="1"></th>
          
          <th id="textSliderValue2" style="text-align: right;">%SLIDERVALUE%</th>
         </tr>

      </table>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <legend style="color: #b30000; font-size: larger; "> <b>Farm 3: Control Manager</b></legend>
      <table style="text-align: right ;">
        <tr>  
          <th style="color: white;">-------</th>
            <th style="text-align: center;">Device : 1</th>  
            <th></th>
            <th style="text-align: center;">Device : 2</th>  
            <th></th>
            <th style="text-align: center;">Device : 3</th> 
            <th></th> 
        </tr>
        <tr> 
            <th style="color: white;">-------</th>
            <th ><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="7" " + outputState(4) + "><span class="slider"></span></label> </th>
            <th style="color: white;">-----------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="8" " + outputState(5) + "><span class="slider"></span></label></th>
            <th style="color: white;">------------------------------------------------------------------------------</th>
            <th><label class="switch"><input type="checkbox" onchange="toggleCheckbox(this)" id="9 " + outputState(2) + "><span class="slider"></span></label> </th>
        </tr>
         <br>
         <tr>
           <br>
         </tr>
         <tr>
          <th style="color: white;">-------</th>
          <th style="text-align: center;"> Brightness:</th>  
          <th style="color: white;">s</th>
          <th><input type="range" onchange="updateSliderPWM3(this)" id="pwmSlider3" min="0" max="1023" value="%SLIDERVALUE%" step="1"></th>
          
          <th id="textSliderValue3" style="text-align: right;">%SLIDERVALUE%</th>
         </tr>

      </table>
    </fieldset>
  </form>
  <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>

<script>
  const firebaseConfig = {
            apiKey: "AIzaSyA3k1fnRpoxpTgazwrg245N5riPc7nj6Sw",
            authDomain: "iot-primary.firebaseapp.com",
            databaseURL: "https://iot-primary-default-rtdb.firebaseio.com",
            projectId: "iot-primary",
            storageBucket: "iot-primary.appspot.com",
            messagingSenderId: "527853565604",
            appId: "1:527853565604:web:9e8c3024bd00305be01831",
            measurementId: "G-S2GXXQB13J"
          };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
function toggleCheckbox(element) {
  var button,state;
  if(element.checked) 
  {
            firebase.database().ref('Device: /'+ element.id).set({
                button: element.id,
                state: 'on'});
                console.log("send success");
 }


  else {  
    firebase.database().ref('Device: /'+element.id).set({
        button: element.id,
        state: 'off'});
        console.log("send failed");
}
}
function updateSliderPWM(element) {
  var sliderValue = document.getElementById("pwmSlider").value;
  document.getElementById("textSliderValue").innerHTML = sliderValue;
  console.log(sliderValue);
  var slidervalue;
            firebase.database().ref('Farm 1: /').set({
                slidervalue: sliderValue  });
  
}
function updateSliderPWM2(element) {
  var sliderValue2 = document.getElementById("pwmSlider2").value;
  document.getElementById("textSliderValue2").innerHTML = sliderValue2;
  console.log(sliderValue2);
  var slidervalue;
            firebase.database().ref('Farm 2: /').set({
                slidervalue: sliderValue2  });
 
}
function updateSliderPWM3(element) {
  var sliderValue3 = document.getElementById("pwmSlider3").value;
  document.getElementById("textSliderValue3").innerHTML = sliderValue3;
  console.log(sliderValue3);
  var slidervalue;
            firebase.database().ref('Farm 3: /').set({
                slidervalue: sliderValue3  });
}
</script>
<footer> 
  <br>
  <br>
    <a href="/IOT/templates/sidebar.html" style="text-decoration: none;" ><b style="color: #b30000; font-size: larger; text-align: right;">Back To HomePage</b></a>
</footer>
</body>
</html>