<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-sidebar.css">
    <link rel="stylesheet" href="../static/content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Side bar</title>
</head>
<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar-btn"></i></a>
        </label>
        <div class="left">
            <h2>Xin chào <span>Thắng Trần!</span></h2>
        </div>
        <div class="right">
            <a href="../templates/login.html" class="logout_btn">Đăng Xuất</a>
        </div>
    </header>
        <div class="sidebar">
            <center>
                <div class="container">
                    <img class="profile-image" src="../pictures/cartoon.png" alt="User's Picture">
                    <div class="user-name">
                        <h4>Thắng Trần</h4>
                    </div>
                </div>
            </center>
            <div class="icon">
                <a id="icon-active" href="#"><i class="fas fa-home"></i><span>Home</span></a> 
                <a href="#"><i class="fas fa-user"></i><span>User</span></a>
                <a href="../templates/setting.html"><i class="fas fa-sliders-h"></i><span>Setting</span></a> 
            </div>
        </div>
    <div class="content" >
        <div class="all-card">
            <a href="../templates/farm.html">
                <div class="card">
                    <div class="card-image"></div>
                    <div class="card-text">
                        <span class="date"></span>
                        <h2>Nông trại 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <div class="value" id="temp">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="../templates/farm2.html">                 
                <div class="card">
                    <div class="card-image card2"></div>
                    <div class="card-text card2">
                        <span class="date"></span>
                        <h2>Nông trại 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats card2">
                        <div class="stat">
                            <div class="value" id="temp2">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum2">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright2">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="./templates/farm3.html">
                <div class="card">
                    <div class="card-image card3"></div>
                    <div class="card-text card3">
                        <span class="date"></span>
                        <h2>Nông trại 3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats card3">
                        <div class="stat">
                            <div class="value" id="temp3">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum3">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright3">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>