<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/IOT/static/style-sidebar.css">
    <link rel="stylesheet" href="/IOT/static/content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Trang chủ</title>
</head>
<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar-btn"></i></a>
        </label>
        <div class="left">
            <h2>Xin chào <span>Thắng Trần!</span></h2>
        </div>
        <div class="right">
            <a href="/IOT/templates/login.html" class="logout_btn">Đăng Xuất</a>
        </div>
    </header>
        <div class="sidebar">
            <center>
                <div class="container">
                    <img class="profile-image" src="IOT/pictures/0z2wcugj02421.png" alt="User's Picture">
                    <div class="user-name">
                        <h4>Thắng Trần</h4>
                    </div>
                </div>
            </center>
            <div class="icon">
                <a id="icon-active" href="#"><i class="fas fa-home"></i><span>Trang chủ</span></a> 
                <a href="#"><i class="fas fa-user"></i><span>Người dùng</span></a>
                <a href="/IOT/templates/setting.html"><i class="fas fa-sliders-h"></i><span>Cài đặt</span></a> 
            </div>
        </div>
    <div class="content" >
        <div class="all-card">
            <a href="../templates/farm.html">
                <div class="card">
                    <div class="card-image"></div>
                    <div class="card-text">
                        <span class="date"></span>
                        <h2>Nông trại 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <div class="value" id="temp">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/IOT/templates/farm2.html">                 
                <div class="card">
                    <div class="card-image card2"></div>
                    <div class="card-text card2">
                        <span class="date"></span>
                        <h2>Nông trại 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats card2">
                        <div class="stat">
                            <div class="value" id="temp2">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum2">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright2">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/IOT/templates/farm3.html">
                <div class="card">
                    <div class="card-image card3"></div>
                    <div class="card-text card3">
                        <span class="date"></span>
                        <h2>Nông trại 3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione officiis quaerat cupiditate distinctio amet perspiciatis ex, doloribus facere, quis qui ipsa non exercitationem fugit ad totam animi eaque autem?</p>
                    </div>
                    <div class="card-stats card3">
                        <div class="stat">
                            <div class="value" id="temp3">%T%</div>
                            <div class="type">°C</div>
                        </div>
                        <div class="stat border">
                            <div class="value" id="hum3">%H%</div>
                            <div class="type">AH</div>
                        </div>
                        <div class="stat">
                            <div class="value" id="bright3">%B%</div>
                            <div class="type">Candela</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <footer>

    </footer>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const firebaseConfig = {
            apiKey: "AIzaSyA3k1fnRpoxpTgazwrg245N5riPc7nj6Sw",
            authDomain: "iot-primary.firebaseapp.com",
            databaseURL: "https://iot-primary-default-rtdb.firebaseio.com",
            projectId: "iot-primary",
            storageBucket: "iot-primary.appspot.com",
            messagingSenderId: "527853565604",
            appId: "1:527853565604:web:9e8c3024bd00305be01831",
            measurementId: "G-S2GXXQB13J"
          };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
            
            //functions
            // make sure that the name in ' ' match with name of your database child
            var brightness = document.getElementById('bright');
            var dbRef = firebase.database().ref().child('IOTPrimary/Trang Trại/Cường Dộ Sáng');
            var huminity = document.getElementById('hum');
            var dbRef2 = firebase.database().ref().child('IOTPrimary/Trang Trại/Độ Ẩm');
            var temparute = document.getElementById('temp');
            var dbRef3 = firebase.database().ref().child('IOTPrimary/Trang Trại/Nhiệt Độ');
            dbRef.on('value', snap => brightness.innerText = snap.val());
            dbRef2.on('value', snap => huminity.innerText = snap.val());
            dbRef3.on('value', snap => temparute.innerText = snap.val());
           
           
          </script>
</body>
</html>