<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/IOT/static/login.css" />
    <title>Đăng kí & Đăng nhập</title>
  </head>
  <body>
    <form class="log-in">
      <h1 class="title">Smart Farm</h1>
      <input id="username_sp" class="input" type="text" autofocus placeholder="Username" />
      <input id="password_sp" class="input" type="password" placeholder="Password" />
      <input id="password_cf" class="input" type="password" placeholder="Cofirm Password" />
      <button class="input submit" type="submit" onclick="signup()">Đăng kí</button>
    </form>
   
    <script>
      var user = ['thanggtrann12'];
          var pass = ['0393807319'];
          function signup()
          {
              user.push(document.getElementById("username_sp").value);
              if (document.getElementById("password_sp").value==document.getElementById("password_cf").value)
              {
              pass.push(document.getElementById("password_sp").value);
              window.location.href = "/IOT/templates/sidebar.html";
              }
              else alert("Password donot match");
              window.location.href = "/IOT/templates/signup.html";
             
          }
    </script>
  </body>
</html>
