<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.2/firebase-app.js"></script>
    <link rel="stylesheet" href="/IOT/static/login.css" />
    <link rel="icon" href="/IOT/pictures/farm.png">

    <title>Đăng kí & Đăng nhập</title>
  </head>
  <body>
    <form class="log-in" action="/IOT/index.html">
      <h1 class="title">Smart Farm</h1>
      <input id="username_sp" class="input" type="text" autofocus placeholder="Username" />
      <input id="password_sp" class="input" type="password" placeholder="Password" />
      <input id="password_cf" class="input" type="password" placeholder="Cofirm Password" />
      <button class="input submit" type="submit" onclick="signup()">Đăng kí</button>
    </form>
   
    
    <script src="/IOT/json/account.js"></script>
  </body>
</html>


//--------------------------------------//
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="/IOT/pictures/farm.png">

    <link rel="stylesheet" href="/IOT/static/login.css" />
    <title>Đăng kí & Đăng nhập</title>
  </head>
  <body>
    <form class="log-in">
      <h1 class="title">Smart Farm</h1>
      <input id="username" class="input" type="text" autofocus placeholder="Email" />
      <input id="password" class="input" type="password" placeholder="Password" />
      <button class="input submit"  onclick="login(); return false;">Đăng nhập</button>
      <a href="#" class="forgot">Quên mật khẩu?</a>
    </form>
    <button class="sign-up" onclick="document.location='/IOT/templates/signup.html'">Đăng kí ngay</button>
 <script src="/IOT/json/account.js"></script>
  </body>
</html>
